@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>baobao</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css" rel="stylesheet" />
    <link href="~/node_modules/toastr/build/toastr.min.css" rel="stylesheet" />
    <link href="~/assets/css/Admin/Home/Index.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/js-cookie/js.cookie.js"></script>
    <script src="~/node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/node_modules/toastr/build/toastr.min.js"></script>
    <script src="~/assets/js/utils.min.js"></script>
    <script src="~/assets/js/global.config.min.js"></script>
    <script src="~/assets/js/Admin/Home/Index.min.js"></script>
</head>
<body>
    <div id="container">
        <div id="left-menu">
            <div id="menu-inner">
                <div id="menu-heard">
                    <p>baobao</p>
                </div>
            </div>
        </div>
        <div id="right-page">
            <div id="page-heard">
                <ul class="menu-nav">
                    <li class="menu-nav-item">
                        <a href="javascript:void(0);">
                            <span class="fa fa-envelope-o"></span>
                            <span class="badge badge-green">15</span>
                        </a>
                        <ul class="menu-message">
                            <li><a href="javascrip:void(0);">第1条消息</a></li>
                            <li><a href="javascrip:void(0);">第2条消息</a></li>
                            <li><a href="javascrip:void(0);">第3条消息</a></li>
                            <li><a href="javascrip:void(0);">第4条消息</a></li>
                            <li><a href="javascrip:void(0);">第5条消息</a></li>
                            <li><a href="javascrip:void(0);">第6条消息</a></li>
                            <li><a href="javascrip:void(0);">第7条消息</a></li>
                            <li><a href="javascrip:void(0);">第8条消息</a></li>
                            <li><a href="javascrip:void(0);">第9条消息</a></li>
                            <li><a href="javascrip:void(0);">第10条消息</a></li>
                            <li><a href="javascrip:void(0);">第11条消息</a></li>
                            <li><a href="javascrip:void(0);">第12条消息</a></li>
                            <li><a href="javascrip:void(0);">第13条消息</a></li>
                            <li><a href="javascrip:void(0);">第14条消息</a></li>
                            <li><a href="javascrip:void(0);">第15条消息</a></li>
                        </ul>
                    </li>
                    <li class="menu-nav-item">
                        <a href="javascript:void(0);">
                            <span class="fa fa-bell-o"></span>
                            <span class="badge badge-purple">7</span>
                        </a>
                        <ul class="menu-message">
                            <li><a href="javascrip:void(0);">第1条消息</a></li>
                            <li><a href="javascrip:void(0);">第2条消息</a></li>
                            <li><a href="javascrip:void(0);">第3条消息</a></li>
                            <li><a href="javascrip:void(0);">第4条消息</a></li>
                            <li><a href="javascrip:void(0);">第5条消息</a></li>
                            <li><a href="javascrip:void(0);">第6条消息</a></li>
                            <li><a href="javascrip:void(0);">第7条消息</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div id="page-iframe"></div>
        </div>
    </div>
</body>
</html>