
@{
    ViewBag.Title = "Chat";
}

<ul class="timeline">
    <li>
        <div class="time"></div>
        <div class="icon"></div>
        <div class="content"></div>
    </li>
    <li>
        <div class="time"></div>
        <div class="icon"></div>
        <div class="content"></div>
    </li>
    <li>
        <div class="time"></div>
        <div class="icon"></div>
        <div class="content"></div>
    </li>
    <li>
        <div class="time"></div>
        <div class="icon"></div>
        <div class="content"></div>
    </li>
    <li>
        <div class="time"></div>
        <div class="icon"></div>
        <div class="content"></div>
    </li>
    <li>
        <div class="time"></div>
        <div class="icon"></div>
        <div class="content"></div>
    </li>
</ul>