
@{
    ViewBag.Title = "Chat";
}

<ul class="timeline">
    <li>
        <div class="time">
            <span>03:45</span>
            <span>今天</span>
        </div>
        <div class="icon">
            <span class="fa fa-user"></span>
        </div>
        <div class="content">
            <h2>这是标题</h2>
            <p>-这是内容这是内容这是内容这是内容这是内容</p>
            <p>-这是内容这是内容这是</p>
            <p>-这是内容这是内容这是内容这是是内容这是内容这是</p>
            <p>-这是内容这这是内容这是</p>
            <p>-这是内容这是内容这是内容这是</p>
        </div>
    </li>
    <li>
        <div class="time">
            <span>03:45</span>
            <span>今天</span>
        </div>
        <div class="icon">
            <span class="fa fa-safari"></span>
        </div>
        <div class="content">
            <h2>这是标题</h2>
            <p>-这是内容这是内容这是内容这是内容这是内容</p>
            <p>-这是内容这是内容这是</p>
            <p>-这是内容这是内容这是内容这是是内容这是内容这是</p>
            <p>-这是内容这这是内容这是</p>
            <p>-这是内容这是内容这是内容这是</p>
        </div>
    </li>
    <li>
        <div class="time">
            <span>03:45</span>
            <span>今天</span>
        </div>
        <div class="icon">
            <span class="fa fa-scribd"></span>
        </div>
        <div class="content">
            <h2>这是标题</h2>
            <p>-这是内容这是内容这是内容这是内容这是内容</p>
            <p>-这是内容这是内容这是</p>
            <p>-这是内容这是内容这是内容这是是内容这是内容这是</p>
            <p>-这是内容这这是内容这是</p>
            <p>-这是内容这是内容这是内容这是</p>
        </div>
    </li>
    <li>
        <div class="time">
            <span>03:45</span>
            <span>今天</span>
        </div>
        <div class="icon">
            <span class="fa fa-windows"></span>
        </div>
        <div class="content">
            <h2>这是标题</h2>
            <p>-这是内容这是内容这是内容这是内容这是内容</p>
            <p>-这是内容这是内容这是</p>
            <p>-这是内容这是内容这是内容这是是内容这是内容这是</p>
            <p>-这是内容这这是内容这是</p>
            <p>-这是内容这是内容这是内容这是</p>
        </div>
    </li>
    <li>
        <div class="time">
            <span>03:45</span>
            <span>今天</span>
        </div>
        <div class="icon">
            <span class="fa fa-hand-lizard-o"></span>
        </div>
        <div class="content">
            <h2>这是标题</h2>
            <p>-这是内容这是内容这是内容这是内容这是内容</p>
            <p>-这是内容这是内容这是</p>
            <p>-这是内容这是内容这是内容这是是内容这是内容这是</p>
            <p>-这是内容这这是内容这是</p>
            <p>-这是内容这是内容这是内容这是</p>
        </div>
    </li>
    <li>
        <div class="time">
            <span>03:45</span>
            <span>今天</span>
        </div>
        <div class="icon">
            <span class="fa fa-xing"></span>
        </div>
        <div class="content">
            <h2>这是标题</h2>
            <p>-这是内容这是内容这是内容这是内容这是内容</p>
            <p>-这是内容这是内容这是</p>
            <p>-这是内容这是内容这是内容这是是内容这是内容这是</p>
            <p>-这是内容这这是内容这是</p>
            <p>-这是内容这是内容这是内容这是</p>
        </div>
    </li>
    <li>
        <div class="time">
            <span>03:45</span>
            <span>今天</span>
        </div>
        <div class="icon">
            <span class="fa fa-pagelines"></span>
        </div>
        <div class="content">
            <h2>这是标题</h2>
            <p>-这是内容这是内容这是内容这是内容这是内容</p>
            <p>-这是内容这是内容这是</p>
            <p>-这是内容这是内容这是内容这是是内容这是内容这是</p>
            <p>-这是内容这这是内容这是</p>
            <p>-这是内容这是内容这是内容这是</p>
        </div>
    </li>
    <li>
        <div class="time">
            <span>03:45</span>
            <span>今天</span>
        </div>
        <div class="icon">
            <span class="fa fa-google-wallet"></span>
        </div>
        <div class="content">
            <h2>这是标题</h2>
            <p>-这是内容这是内容这是内容这是内容这是内容</p>
            <p>-这是内容这是内容这是</p>
            <p>-这是内容这是内容这是内容这是是内容这是内容这是</p>
            <p>-这是内容这这是内容这是</p>
            <p>-这是内容这是内容这是内容这是</p>
        </div>
    </li>
</ul>
