
@{
    ViewBag.Title = "Chat";
    Layout = "~/Areas/Admin/Views/Shared/_AppLayout.cshtml";
}
@section LibScripts
{
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
}
@section CustScripts
{
    <script src="http://localhost:26949/signalr/hubs"></script>
    <script src="~/assets/js/Admin/Timeline/Chat.js"></script>
}
<div class="chat-app" id="chat-app">
    <div class="chat-conversation" id="chat-conversation">
        <div class="conversation-item " v-bind:class="message.aligned" v-for="message in messages">
            <div class="chat-icon">
                <span class="fa" v-bind:class="message.icon"></span>
            </div>
            <div class="chat-heard">
                <span class="nickname" v-if="message.username">{{message.username}}</span>
                <span class="time">{{message.time}}</span>
            </div>
            <div class="chat-content">{{message.content}}</div>
        </div>

    </div>


    <div class="input-area" id="input-area">
        <div class="left">
            <div contenteditable="true" class="chat-input" id="chat-input"></div>
        </div>
        <div class="right">
            <button class="btn btn-default" disabled="disabled" id="send-messages">发送</button>
        </div>
    </div>
</div>
