
@{
    ViewBag.Title = "Chat";
}

<div class="chat-conversation">
    <div class="conversation-item left-aligned">
        <div class="chat-icon">
            <span class="fa fa-lastfm"></span>
        </div>
        <div class="chat-heard">
            <span class="nickname">小宝宝</span>
            <span class="time">03:45</span>
        </div>
        <div class="chat-content">
            这是内容这是<br />
            这是内容这是内容这是内容这是内容这是内容<br />
        </div>
    </div>
    <div class="conversation-item left-aligned">
        <div class="chat-icon">
            <span class="fa fa-lastfm"></span>
        </div>
        <div class="chat-heard">
            <span class="nickname">小宝宝</span>
            <span class="time">03:45</span>
        </div>
        <div class="chat-content">
            这是内容这是内容这是内容这是<br />
            这是内容这是内容这是内容这是内容这是内容容这是内容这是内容<br />
        </div>
    </div>
    <div class="conversation-item right-aligned">
        <div class="chat-icon">
            <span class="fa fa-database"></span>
        </div>
        <div class="chat-heard">
            <span class="time">03:45</span>

        </div>
        <div class="chat-content">
            这是内容
        </div>
    </div>

    <div class="conversation-item left-aligned">
        <div class="chat-icon">
            <span class="fa fa-lastfm"></span>
        </div>
        <div class="chat-heard">
            <span class="nickname">小宝宝</span>
            <span class="time">03:45</span>
        </div>
        <div class="chat-content">
            这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容
            这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容
            这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容
            这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容
            这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容
        </div>
    </div>
    <div class="conversation-item right-aligned">
        <div class="chat-icon">
            <span class="fa fa-database"></span>
        </div>
        <div class="chat-heard">
            <span class="time">03:45</span>

        </div>
        <div class="chat-content">
            这是内容这是内容这是内容这<br />
            这是内容这是内容这是内容这是内容这是内容
        </div>
    </div>
    <div class="conversation-item right-aligned">
        <div class="chat-icon">
            <span class="fa fa-database"></span>
        </div>
        <div class="chat-heard">
            <span class="time">03:45</span>

        </div>
        <div class="chat-content">
            这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容
            这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容
            这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容
            这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容
            这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容
        </div>
    </div>

    <div class="conversation-item left-aligned">
        <div class="chat-icon">
            <span class="fa fa-lastfm"></span>
        </div>
        <div class="chat-heard">
            <span class="nickname">小宝宝</span>
            <span class="time">03:45</span>
        </div>
        <div class="chat-content">
            这是内容这是内容这是内容这是内容这是内容<br />
            这是内容这是内容这是内
        </div>
    </div>
    <div class="conversation-item right-aligned">
        <div class="chat-icon">
            <span class="fa fa-database"></span>
        </div>
        <div class="chat-heard">
            <span class="time">03:45</span>

        </div>
        <div class="chat-content">
            这是
        </div>
    </div>
</div>