
@{
    ViewBag.Title = "Chat";
}

<div class="chat-conversation">
    <div class="conversation-item left-aligned">
        <div class="chat-icon">
            <span class="fa fa-lastfm"></span>
        </div>
        <div class="chat-heard">
            <span class="nickname">小宝宝</span>
            <span class="time">03:45</span>
        </div>
        <div class="chat-content">
            你好呀O(∩_∩)O哈哈哈~
        </div>
    </div>
    <div class="conversation-item left-aligned">
        <div class="chat-icon">
            <span class="fa fa-lastfm"></span>
        </div>
        <div class="chat-heard">
            <span class="nickname">小宝宝</span>
            <span class="time">03:45</span>
        </div>
        <div class="chat-content">
            这是什么呢?^_^
        </div>
    </div>
    <div class="conversation-item right-aligned">
        <div class="chat-icon">
            <span class="fa fa-database"></span>
        </div>
        <div class="chat-heard">
            <span class="time">03:45</span>

        </div>
        <div class="chat-content">
            这是内容
        </div>
    </div>

    <div class="conversation-item left-aligned">
        <div class="chat-icon">
            <span class="fa fa-lastfm"></span>
        </div>
        <div class="chat-heard">
            <span class="nickname">小宝宝</span>
            <span class="time">03:45</span>
        </div>
        <div class="chat-content">
            这是内容这是内容这是内容这是内容这是
            内容这是内容这是内容这是内容这是内容这是内容
        </div>
    </div>
    <div class="conversation-item right-aligned">
        <div class="chat-icon">
            <span class="fa fa-database"></span>
        </div>
        <div class="chat-heard">
            <span class="time">03:45</span>

        </div>
        <div class="chat-content">
            这是内容这是内容这是内容这
            这是内容这是内容这是内容这是内容这是内容
        </div>
    </div>
    <div class="conversation-item right-aligned">
        <div class="chat-icon">
            <span class="fa fa-database"></span>
        </div>
        <div class="chat-heard">
            <span class="time">03:45</span>

        </div>
        <div class="chat-content">
            这是内容这是内容这是内容这是内容
            这是内容这是内容这是内容这是内容
        </div>
    </div>

    <div class="conversation-item left-aligned">
        <div class="chat-icon">
            <span class="fa fa-lastfm"></span>
        </div>
        <div class="chat-heard">
            <span class="nickname">小宝宝</span>
            <span class="time">03:45</span>
        </div>
        <div class="chat-content">
            这是内容这是内容这是内
            这是内容这是内容这是内
        </div>
    </div>
    <div class="conversation-item right-aligned">
        <div class="chat-icon">
            <span class="fa fa-database"></span>
        </div>
        <div class="chat-heard">
            <span class="time">03:45</span>

        </div>
        <div class="chat-content">
            ( ^_^ )/~~拜拜
        </div>
    </div>
</div>