
@{
    ViewBag.Title = "Chat";
}
@section LibScripts
{
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
}
@section CustScripts
{
    <script src="http://localhost:26949/signalr/hubs"></script>
    <script src="~/assets/js/Admin/Timeline/Chat.js"></script>
}

<div class="row">
    <div class="col-md-12">
        <div class="input-group">
            <input type="text" class="form-control" id="messages">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="send-messages">发送</button>
            </span>
        </div>
    </div>
</div>
<hr />
<div class="chat-conversation" id="app">
    <div class="conversation-item " v-bind:class="message.aligned" v-for="message in messages">
        <div class="chat-icon">
            <span class="fa" v-bind:class="message.icon"></span>
        </div>
        <div class="chat-heard">
            <span class="nickname" v-if="message.username">{{message.username}}</span>
            <span class="time">{{message.time}}</span>
        </div>
        <div class="chat-content">{{message.content}}</div>
    </div>
</div>
