@section style{

}

@section part_script
{
}

@section cust_script
{
    <script src="~/assets/js/admin/menu/index.min.js"></script>
}

<div class="easyui-layout main-layout">
    <div data-options="region:'center',title:'菜单',iconCls:'fa fa-navicon'">
        <table id="menu-list" style="height: 100%;"></table>
    </div>
    <div data-options="region:'east',title:'排序',iconCls:'fa fa-commenting-o'" style="width: 30%">
        <ul id="menu-order">            
        </ul>
    </div>
    <div data-options="region:'south',title:'说明',iconCls:'fa fa-info-circle'" style="height: 150px;"></div>
</div>