<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <extensions>
    <add assembly="ConsoleApplication"/>
  </extensions>
  <targets>
    <target xsi:type="AsyncWrapper" name="AsyncWrapper" >
      <target xsi:type="File" name="LogFile" fileName="file.txt" layout="${date:format=yyyy-MM-dd HH\:mm\:ss} ${uppercase:${level}} ${message}" />
    </target>
    <target xsi:type="ColoredConsole" name="ColoredConsole" layout="${date:format=yyyy-MM-dd HH\:mm\:ss} ${uppercase:${level}} ${message} ${hello-world} name:${var:name}" />

    <target xsi:type="Database" name="Database">
      <dbProvider>System.Data.SqlClient</dbProvider>
      <connectionString>
        Data Source=.;Initial Catalog=NLog;Persist Security Info=True;User ID=sa;Password=a123
      </connectionString>
      <commandText >
        insert  into [NLog].[dbo].[Record]
        ( [Level], [Message], [CreateTime] )
        values
        ( @Levle, @Message, @CreateTime );
      </commandText>
      <parameter name="@Levle" layout="${level}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@CreateTime" layout="${date}" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="AsyncWrapper"/>
    <logger name="*" minlevel="Trace" writeTo="ColoredConsole" />
    <logger name="*" minlevel="Trace" writeTo="Database"/>
  </rules>
</nlog>
