@*默认用户按钮权限*@
@{
    List<ButtonInfoDTO> buttons = ViewBag.Buttons ?? new List<ButtonInfoDTO>();
}
<div class="panel-body">
    <div class="btn-group pull-right">
        @{
            if (buttons.Any(e => e.ButtonType == ButtonType.添加))
            {
                <button class="btn btn-default">
                    <span class="fa fa-plus text-success"></span> 添加
                </button>
            }
        }
        @{
            if (buttons.Any(e => e.ButtonType == ButtonType.修改))
            {
                <button class="btn btn-default">
                    <span class="fa fa-edit text-info"></span> 编辑
                </button>
            }
        }
        @{
            if (buttons.Any(e => e.ButtonType == ButtonType.删除))
            {
                <button class="btn btn-default">
                    <span class="fa fa-trash text-danger"></span> 删除
                </button>
            }
        }

        <div class="btn-group">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="fa fa-list text-primary"></span>
                其它<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">

                @if (buttons.Any(e => e.ButtonType == ButtonType.报表))
                {
                    <li>
                        <a href="javascript:void(0);">
                            <span class="fa fa-file-excel-o"></span> Excel
                        </a>
                    </li>
                    <li class="divider"></li>
                }

                @if (buttons.Any(e => e.ButtonType == ButtonType.打印))
                {
                    <li>
                        <a href="javascript:void(0);">
                            <span class="fa fa-print"></span> 打印
                        </a>
                    </li>
                    <li class="divider"></li>
                }
                @if (buttons.Any(e => e.ButtonType == ButtonType.分享))
                {
                    <li>
                        <a href="javascript:void(0);">
                            <span class="fa fa-share-alt-square"></span> 分享
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

