
@{
    ViewBag.Title = "Centered";
}

<div class="timeline-centered">
    <div class="timeline-entry right-aligned">
        <div class="timeline-entry-inner">
            <div class="timeline-time">
                <span>03:45</span>
                <span>今天</span>
            </div>
            <div class="timeline-icon">
                <span class="fa fa-lastfm"></span>
            </div>
            <div class="timeline-content">
                <p>-这是内容这是内容这是内容这是内容这是内容</p>
                <p>-这是内容这是内容这是</p>
                <p>-这是内容这是内容这是内容这是是内容这是内容这是</p>
                <p>-这是内容这这是内容这是</p>
                <p>-这是内容这是内容这是内容这是</p>
            </div>
        </div>
    </div>
    <div class="timeline-entry left-aligned">
        <div class="timeline-entry-inner">
            <div class="timeline-time">
                <span>03:45</span>
                <span>今天</span>
            </div>
            <div class="timeline-icon">
                <span class="fa fa-server"></span>
            </div>
            <div class="timeline-content">
                <p>-这是内容这是内容这是内容这是内容这是内容</p>
                <p>-这是内容这这是内容这是</p>
                <p>-这是内容这是内容这是内容这是</p>
            </div>
        </div>
    </div>
    <div class="timeline-entry right-aligned">
        <div class="timeline-entry-inner">
            <div class="timeline-time">
                <span>03:45</span>
                <span>今天</span>
            </div>
            <div class="timeline-icon">
                <span class="fa fa-cloud"></span>
            </div>
            <div class="timeline-content">
                <p>-这是内容这是内容这是内容这是内容这是内容</p>
                <p>-这是内容这是内容这是</p>
                <p>-这是内容这是内容这是内容这是是内容这是内容这是</p>
                <p>-这是内容这这是内容这是</p>
                <p>-这是内容这是内容这是内容这是</p>
            </div>
        </div>
    </div>
    <div class="timeline-entry left-aligned">
        <div class="timeline-entry-inner">
            <div class="timeline-time">
                <span>03:45</span>
                <span>今天</span>
            </div>
            <div class="timeline-icon">
                <span class="fa fa-database"></span>
            </div>
            <div class="timeline-content">
                <p>-这是内容这是内容这是内容这是内容这是内容</p>
                <p>-这是内容这这是内容这是</p>
                <p>-这是内容这是内容这是内容这是</p>
            </div>
        </div>
    </div>
    <div class="timeline-entry right-aligned">
        <div class="timeline-entry-inner">
            <div class="timeline-time">
                <span>03:45</span>
                <span>今天</span>
            </div>
            <div class="timeline-icon">
                <span class="fa fa-ra"></span>
            </div>
            <div class="timeline-content">
                <p>-这是内容这是内容这是内容这是内容这是内容</p>
                <p>-这是内容这是内容这是</p>
                <p>-这是内容这是内容这是内容这是是内容这是内容这是</p>
                <p>-这是内容这这是内容这是</p>
                <p>-这是内容这是内容这是内容这是</p>
            </div>
        </div>
    </div>
    <div class="timeline-entry left-aligned">
        <div class="timeline-entry-inner">
            <div class="timeline-time">
                <span>03:45</span>
                <span>今天</span>
            </div>
            <div class="timeline-icon">
                <span class="fa fa-krw"></span>
            </div>
            <div class="timeline-content">
                <p>-这是内容这是内容这是内容这是内容这是内容</p>
                <p>-这是内容这这是内容这是</p>
                <p>-这是内容这是内容这是内容这是</p>
            </div>
        </div>
    </div>
</div>