
@{
    ViewBag.Title = "Index";
}

<ul class="timeline">
    <li>
        <div class="timeline-time">
            <span>03:45</span>
            <span>今天</span>
        </div>
        <div class="timeline-icon">
            <span class="fa fa-dashboard"></span>
        </div>
        <div class="timeline-content">
            <p>-这是内容这是内容这是</p>
            <p>-这是内容这是内容这是内容这是是内容这是内容这是</p>
            <p>-这是内容这是内容这是内容这是</p>
        </div>
    </li>
    <li>
        <div class="timeline-time">
            <span>03:45</span>
            <span>今天</span>
        </div>
        <div class="timeline-icon">
            <span class="fa fa-ge"></span>
        </div>
        <div class="timeline-content">
            <p>-这是内容这是内容这是</p>
            <p>-这是内容这是内容这是内容这是</p>
        </div>
    </li>
    <li>
        <div class="timeline-time">
            <span>03:45</span>
            <span>今天</span>
        </div>
        <div class="timeline-icon">
            <span class="fa fa-birthday-cake"></span>
        </div>
        <div class="timeline-content">
            <p>-这是内容这是内容这是内容这是是内容这是内容这是</p>
            <p>-这是内容这这是内容这是</p>
            <p>-这是内容这是内容这是内容这是</p>
        </div>
    </li>
    <li>
        <div class="timeline-time">
            <span>03:45</span>
            <span>今天</span>
        </div>
        <div class="timeline-icon">
            <span class="fa fa-xing"></span>
        </div>
        <div class="timeline-content">
            <h2>这是标题</h2>
            <p>-这是内容这是内容这是内容这是内容这是内容</p>
            <p>-这是内容这是内容这是</p>
            <p>-这是内容这这是内容这是</p>
            <p>-这是内容这是内容这是内容这是</p>
        </div>
    </li>
    <li>
        <div class="timeline-time">
            <span>03:45</span>
            <span>今天</span>
        </div>
        <div class="timeline-icon">
            <span class="fa fa-magic"></span>
        </div>
        <div class="timeline-content">
            <p>-这是内容这这是内容这是</p>
            <p>-这是内容这是内容这是内容这是</p>
        </div>
    </li>
    <li>
        <div class="timeline-time">
            <span>03:45</span>
            <span>今天</span>
        </div>
        <div class="timeline-icon">
            <span class="fa fa-ra"></span>
        </div>
        <div class="timeline-content">
            <h2>这是标题</h2>
            <p>-这是内容这是内容这是内容这是内容这是内容</p>
            <p>-这是内容这是内容这是</p>
            <p>-这是内容这是内容这是内容这是是内容这是内容这是</p>
            <p>-这是内容这这是内容这是</p>
            <p>-这是内容这是内容这是内容这是</p>
        </div>
    </li>
</ul>