body {
  background-color: #eeeeee;
  font-family: 'Microsoft YaHei';
  padding: 20px;
}
#page-title {
  display: none;
  background: #f8f8f8;
  box-shadow: 0 1px 0 rgba(0, 1, 1, 0.08), inset 0 1px 0 #ededed;
}
.breadcrumb {
  line-height: 30px;
  background: none;
  margin: 0;
}
.breadcrumb a,
.breadcrumb .fa {
  text-decoration: none;
  color: #979898;
}
.breadcrumb .active {
  color: #777777;
}
#page-footer {
  display: none;
  padding: 20px 30px;
  border-top: 1px solid #dddddd;
}
table {
  font-size: 12px;
  text-align: center;
}
table th {
  text-align: center;
}
.panel-body {
  padding: 10px 15px;
}
div.btn-group.pull-right ul.dropdown-menu {
  min-width: inherit;
}
div.btn-group.pull-right ul.dropdown-menu .divider {
  margin: 0;
}
div.btn-group.pull-right ul.dropdown-menu a {
  padding: 3px 12px;
}
.panel-footer .pagination-right {
  height: 34px;
}
.panel-footer .pagination-right .pagination {
  margin: 0;
  float: right;
}
table.table-tree .tree-operator:hover {
  color: mediumseagreen;
  cursor: pointer;
}
table.table-tree .tree-folder {
  width: 12px;
}
.fa-file-excel-o {
  color: green;
}
.fa-share-alt-square {
  color: #FF6C00;
}
/*时间轴*/
ul.timeline {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  /*&::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 5px;
        background-color: #ffffff;
    }*/
}
ul.timeline li {
  position: relative;
}
ul.timeline div.time {
  position: absolute;
  width: 50px;
  height: 50px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #ffffff;
}
ul.timeline div.icon {
  position: absolute;
}
ul.timeline div.content {
  position: relative;
  margin: 0 0 30px 20%;
  padding: 20px;
  color: #737881;
  background-color: #ffffff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}