body {
    background-color: #eeeeee;
    font-family: 'Microsoft YaHei';
}

#page-title {
    display: none;
    background: #f8f8f8;
    height: 80px;
    box-shadow: 0 1px 0 rgba(0,1,1,.08), inset 0 1px 0 #ededed;
}

#page-body {
}

#page-footer {
    display: none;
    padding: 20px 30px;
    border-top: 1px solid #dddddd;
}

table {
    font-size: 12px;
    text-align: center;

    th {
        text-align: center;
    }
}

.panel-body {
    padding: 10px 15px;
}

div.btn-group.pull-right {
    ul.dropdown-menu {
        min-width: inherit;

        .divider {
            margin: 0;
        }

        a {
            padding: 3px 12px;
        }
    }
}

.panel-footer {
    .pagination-right {
        height: 34px;

        .pagination {
            margin: 0;
            float: right;
        }
    }
}

table.table-tree {
    .tree-operator {
        &:hover {
            color: mediumseagreen;
            cursor: pointer;
        }
    }

    .tree-folder {
        width: 12px;
    }
}
