body {
  font-family: 'Microsoft YaHei';
}
table {
  font-size: 12px;
  text-align: center;
}
table th {
  text-align: center;
}
.panel-body {
  padding: 10px 15px;
}
.panel-body .toolbar-right button {
  float: right;
  margin-left: 5px;
}
.panel-footer .pagination-right {
  height: 34px;
}
.panel-footer .pagination-right .pagination {
  margin: 0;
  float: right;
}