@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>baobao</title>
    <link href="~/Content/bootstrap.min.css?v=@FileVersion.CSS" rel="stylesheet" />
    <link href="~/node_modules/font-awesome/css/font-awesome.min.css?v=@FileVersion.CSS" rel="stylesheet" />
    <link href="~/node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css?v=@FileVersion.CSS" rel="stylesheet" />
    <link href="~/node_modules/toastr/build/toastr.min.css?v=@FileVersion.CSS" rel="stylesheet" />
    <link href="~/assets/css/Admin/Home/Index.min.css?v=@FileVersion.CSS" rel="stylesheet" />
</head>
<body>
    <div id="container">
        <div id="left-menu" class="left-menu">
            <div id="menu-inner" class="menu-inner">
                <div id="menu-heard" class="menu-heard">
                    <p style="margin: 0;font-size: 25px;cursor: pointer;">@ViewBag.NikeName</p>
                </div>
            </div>
        </div>
        <div id="right-page">
            <div id="page-heard">
                <ul class="nav-menu horizontal">
                    <li class="item">
                        <a href="javascript:void(0);">
                            <span class="fa fa-envelope-o"></span>
                            <span class="badge badge-green">15</span>
                        </a>
                        <ul class="vertical">
                            <li>
                                <ul class="messages">
                                    <li class="read">
                                        <a href="javascrip:void(0);">
                                            <span class="heard">
                                                <span class="title">第1条消息</span>
                                                <span class="time">-昨天</span>
                                            </span>
                                            <span class="desc">
                                                这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述
                                            </span>
                                        </a>
                                    </li>
                                    <li class="read">
                                        <a href="javascrip:void(0);">
                                            <span class="heard">
                                                <span class="title">第2条消息</span>
                                                <span class="time">-昨天</span>
                                            </span>
                                            <span class="desc">
                                                这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述
                                            </span>
                                        </a>
                                    </li>
                                    <li class="read">
                                        <a href="javascrip:void(0);">
                                            <span class="heard">
                                                <span class="title">第3条消息</span>
                                                <span class="time">-昨天</span>
                                            </span>
                                            <span class="desc">
                                                这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascrip:void(0);">
                                            <span class="heard">
                                                <span class="title">第4条消息</span>
                                                <span class="time">-昨天</span>
                                            </span>
                                            <span class="desc">
                                                这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascrip:void(0);">
                                            <span class="heard">
                                                <span class="title">第5条消息</span>
                                                <span class="time">-昨天</span>
                                            </span>
                                            <span class="desc">
                                                这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascrip:void(0);">
                                            <span class="heard">
                                                <span class="title">第6条消息</span>
                                                <span class="time">-昨天</span>
                                            </span>
                                            <span class="desc">
                                                这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascrip:void(0);">
                                            <span class="heard">
                                                <span class="title">第7条消息</span>
                                                <span class="time">-昨天</span>
                                            </span>
                                            <span class="desc">
                                                这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascrip:void(0);">
                                            <span class="heard">
                                                <span class="title">第8条消息</span>
                                                <span class="time">-昨天</span>
                                            </span>
                                            <span class="desc">
                                                这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascrip:void(0);">
                                            <span class="heard">
                                                <span class="title">第9条消息</span>
                                                <span class="time">-昨天</span>
                                            </span>
                                            <span class="desc">
                                                这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascrip:void(0);">
                                            <span class="heard">
                                                <span class="title">第10条消息</span>
                                                <span class="time">-昨天</span>
                                            </span>
                                            <span class="desc">
                                                这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascrip:void(0);">
                                            <span class="heard">
                                                <span class="title">第11条消息</span>
                                                <span class="time">-昨天</span>
                                            </span>
                                            <span class="desc">
                                                这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascrip:void(0);">
                                            <span class="heard">
                                                <span class="title">第12条消息</span>
                                                <span class="time">-昨天</span>
                                            </span>
                                            <span class="desc">
                                                这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascrip:void(0);">
                                            <span class="heard">
                                                <span class="title">第13条消息</span>
                                                <span class="time">-昨天</span>
                                            </span>
                                            <span class="desc">
                                                这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascrip:void(0);">
                                            <span class="heard">
                                                <span class="title">第14条消息</span>
                                                <span class="time">-昨天</span>
                                            </span>
                                            <span class="desc">
                                                这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascrip:void(0);">
                                            <span class="heard">
                                                <span class="title">第15条消息</span>
                                                <span class="time">-昨天</span>
                                            </span>
                                            <span class="desc">
                                                这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="more">
                                <a href="javascript:void(0);">更多消息...</a>
                            </li>
                        </ul>
                    </li>
                    <li class="item">
                        <a href="javascript:void(0);">
                            <span class="fa fa-bell-o"></span>
                            <span class="badge badge-purple">7</span>
                        </a>
                        <ul class="vertical">
                            <li>
                                <ul class="messages">
                                    <li>
                                        <a href="javascrip:void(0);">
                                            <span class="heard">
                                                <span class="title">第1条消息</span>
                                                <span class="time">-昨天</span>
                                            </span>
                                            <span class="desc">
                                                这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascrip:void(0);">
                                            <span class="heard">
                                                <span class="title">第2条消息</span>
                                                <span class="time">-昨天</span>
                                            </span>
                                            <span class="desc">
                                                这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascrip:void(0);">
                                            <span class="heard">
                                                <span class="title">第3条消息</span>
                                                <span class="time">-昨天</span>
                                            </span>
                                            <span class="desc">
                                                这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascrip:void(0);">
                                            <span class="heard">
                                                <span class="title">第4条消息</span>
                                                <span class="time">-昨天</span>
                                            </span>
                                            <span class="desc">
                                                这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascrip:void(0);">
                                            <span class="heard">
                                                <span class="title">第5条消息</span>
                                                <span class="time">-昨天</span>
                                            </span>
                                            <span class="desc">
                                                这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascrip:void(0);">
                                            <span class="heard">
                                                <span class="title">第6条消息</span>
                                                <span class="time">-昨天</span>
                                            </span>
                                            <span class="desc">
                                                这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascrip:void(0);">
                                            <span class="heard">
                                                <span class="title">第7条消息</span>
                                                <span class="time">-昨天</span>
                                            </span>
                                            <span class="desc">
                                                这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="more">
                                <a href="javascript:void(0);">更多通知...</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div id="page-iframe" class="iframe"></div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js?v=@FileVersion.JS"></script>
    <script src="~/node_modules/js-cookie/src/js.cookie.min.js?v=@FileVersion.JS"></script>
    <script src="~/node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js?v=@FileVersion.JS"></script>
    <script src="~/node_modules/toastr/build/toastr.min.js?v=@FileVersion.JS"></script>
    <script src="~/node_modules/moment/min/moment.min.js?v=@FileVersion.JS"></script>
    <script src="~/node_modules/moment/locale/zh-cn.min.js?v=@FileVersion.JS"></script>
    <script src="~/assets/js/global.config.js?v=@FileVersion.JS"></script>
    <script src="~/assets/js/utils.min.js?v=@FileVersion.JS"></script>
    <script src="~/assets/js/Admin/Home/Index.min.js?v=@FileVersion.JS"></script>
</body>
</html>