html, body {
    font-family: 'Microsoft YaHei';
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #eeeeee;
}

#page-container {
    display: table;
    width: 100%;
    height: 100%;
}

#left-menu {
    display: table-cell;
    position: relative;
    width: 340px;
    height: 100%;
    background-color: #2c2e2f;

    a {
        color: #979898;
        text-decoration: none;
        transition: all 220ms ease-in-out;
        outline: none !important;
        background: transparent;

        &:hover {
            color: #ffffff;
        }
    }

    li {
        list-style: none;
        display: list-item;
    }

    #left-menu-inner {
        position: fixed;
        width: inherit;
        top: 0;
        bottom: 0;
        left: 0;

        #left-menu-inner-heard {
            height: 80px;
            border-bottom: solid 1px #313437;

            p {
                color: #eeeeee;
                line-height: 80px;
                font-size: 25px;
                margin-left: 40px;
            }
        }

        #left-menu-inner-main {
            padding: 20px 40px;
            list-style: none;

            ul {
                display: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                list-style: none;
            }

            li.has-sub {
                > a:before {
                    position: relative;
                    display: inline-block;
                    font-family: 'FontAwesome';
                    content: '\f107';
                    float: right;
                    color: #6d747a;
                    margin-left: 10px;
                    transform: rotate(-90deg);
                    transition: all 150ms ease-in-out;
                }
            }

            li.has-sub.expanded {
                > a:before {
                    transform: rotate(0deg);
                }
            }

            a {
                display: block;
                padding: 13px 5px;
                border-bottom: 1px solid #313437;

                span {
                    display: inline-block;

                    &.menu-icon {
                        margin-right: 10px;
                    }

                    &.menu-title {
                        padding-right: 10px;
                    }
                }
            }
        }
    }
}

#right-content {
    display: table-cell;
    position: relative;

    #page-heard {
        background-color: #ffffff;
        height: 80px;
        border-bottom: 1px solid #e7e7e7;
        box-shadow: 0 0 3px rgba(89,89,89,.25);
    }
    #page-iframe{
        overflow: hidden;
    }
}
